.khungt {
  width: 110px;
  height: 130px;
  top: 222px;
  left: 1810px;
  position: absolute;
  background: #72728880;
}
.khungne {
  width: 110px;
  height: 130px;
  padding: 16px;
  text-align: center;
}
.thedau {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 10px;
  z-index: 9999;
}
.ttcb4 {
  width: 319px;
  top: 86px;
  left: 208px;
  height: 54px;
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.002em;
  text-align: left;
  color: #f5f5ff;
  position: absolute;
}
.icon1 {
  margin: 16px 28px;
}
.texttt {
  width: 78px;
  height: 36px;
  opacity: 0.7;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.005em;
  text-align: center;
  color: #ffffff;
  margin-left: 16px;
}
.textt4 {
  height: 24px;
  position: absolute;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.002em;
  text-align: left;
  color: #ffffff;
}
.select4 {
  height: 40px;
  position: absolute;

  padding: 12px 12px 12px 16px;
  border-radius: 8px;
  border: 1px solid #ff7506;
  justify-content: space-between;
  background: #1e1e2e;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.002em;
}
.icon4 {
  width: 32px;
  height: 32px;
}

/* show list nhạc */
.formtong4 {
  width: 342px;
  height: 316px;
  border-radius: 8px;
  margin-bottom: 29px;
}
.hinhanh4 {
  width: 342;
  height: 160;
}
.text4 {
  width: 262px;
  height: 132px;
  top: 8px;
  left: 16px;
  gap: 12px;
  position: relative;
  font-family: Montserrat;
  color: #ffffff;
}
.tieude4 {
  width: 262px;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.002em;
  text-align: left;
}
.noidung4 {
  opacity: 0.8;
  color: #f5f5ff;
}
.khungngoai4 {
  width: 211px;
  height: 38px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
}
.khungtrong4 {
  width: 57px;
  height: 38px;
  padding: 4px 12px;
  border-radius: 6px;
  border: 1px solid #727288;
}
.theloai4 {
  width: 33px;
  height: 12px;
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  color: #727288;
}
.loai4 {
  width: 25px;
  height: 18px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}
.sua4 {
  width: 30px;
  height: 30px;
  top: 115px;
  left: 286px;
  gap: 12px;
  position: absolute;
}

/* show list nhạc */
/* chức năng tìm kiếm */
.timkiem4 {
  width: 517px;
  top: 158px;
  left: 229px;
  height: 48px;
  padding: 12px 24px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  background: #2b2b3f;
  position: absolute;
}
.input4 {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.002em;
  outline: none;
  padding-left: 24px;
  padding-right: 67px;
}
/* chức năng tìm kiếm */
/* phân trang */
.mao {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.sott4 {
  margin-left: 10px;
  text-decoration: none;
  color: #f5f5ff;
}

.sott44 {
  background-color: #ff7506;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  left: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.khungPT4 {
  width: fit-content;
  max-width: 1485px;
  min-height: 32px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  /* margin-top: 33px; */
}
.ht4 {
  width: max-content;
  max-width: 279.82px;
  height: fit-content;
  min-height: 32px;
  color: #f5f5ff;
}
.khungso4 {
  width: 48.37px;
  height: 32px;
  border-radius: 4px;
  margin: 0px 8px 0px 8px;
  border: 1px solid #ff7506;
  background: #2b2b3f;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.002em;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* phân trang */

/* chi tiết bản ghi */
.ttbg4 {
  width: 224px;
  height: 24px;
  top: 32px;
  left: 174px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.002em;
  text-align: center;
  color: #ff7506;
  position: absolute;
}
.khunghinh4 {
  width: 130px;
  height: 132px;
  top: 80px;
  left: 221px;
  position: absolute;
}
.hoa84 {
  width: 120px;
  height: 120px;
  top: -6px;
  left: -12px;
  border-radius: 50%;
}
.mayanh84 {
  width: 40px;
  height: 40px;
  top: 74px;
  left: 72px;
  padding: 8px;
  border-radius: 50px;
  position: absolute;
}
.kieuchu4 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.002em;
  color: #ffffff;
}
.algin4 {
  text-align: left;
}
.alginn4 {
  text-align: right;
}
.formt4 {
  width: 695px;
  height: 80px;
  top: 88px;
  left: 24px;
  gap: 8px;
  position: absolute;
}
.tebanghi4 {
  width: 200px;
  height: 24px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.002em;
  text-align: left;
  color: #f5f5ff;
  margin-bottom: 8px;
}
.inputne4 {
  width: 695px;
  height: 48px;
  padding: 11px 24px 13px 16px;
  border-radius: 8px;
  background: #2b2b3f;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  border: 1px solid #727288;
  background-color: #33334d;
}
