.pagination {
  display: flex;
  justify-content: center;
}

.page-link1 {
  padding: 8px 12px;
  width: 26;
  height: 26;
  text-decoration: none;
  color: #f5f5ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link1.active {
  background-color: #ff7506;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
td {
  border-bottom: 1px solid #2f2f41 !important;
}
