.ChinhSua1 {
  width: 800px;
  height: 48px;
  top: 114px;
  left: 78px;
  position: absolute;
  color: #ffffff;
}
.ChinhSua2 {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.002em;
  text-align: left;
}
.ChinhSua3 {
  width: 665px;
  height: 48px;
  position: absolute;
  top: 186px;
  left: 80px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2b2b3f;
}
.ChinhSua4 {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.002em;
  outline: none;
  padding-left: 24px;
  padding-right: 67px;
}
.ChinhSua5 {
  margin-left: 12px;
  width: 24px;
  height: 24px;
  margin-top: 11px;
  margin-right: 10px;
}
.ChinhSUa6 {
  width: 1683px;
  position: absolute;
  top: 258px;
  left: 78px;
  border-radius: 16px;
  gap: 56px;
  background-color: #2f2f41b2;
}
.ChinhSua7 {
  width: 1635px;
  height: 606px;
  margin: 16px 24px 104px 24px;
}
.ChinhSua8 {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.015em;
  text-align: left;
}
.ChinhSua9 {
  width: 4px;
  height: 4px;
  opacity: 0.7;
  background: #347aff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin-top: 11px;
}
.ChinhSUa10 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #18e306;
  margin-right: 5px;
}
.ChinhSua11 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #347aff;
  margin-right: 5px;
}
