.dropdown-check-list {
  display: inline-block;
  width: 274px;
  height: 40px;
  position: relative;
  z-index: 2000;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid white;
  border-top: 2px solid white;
  padding: 5px;
  right: 10px;
  top: 30%;
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  background: #3e3e5b;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: white;
}

li {
  background: #3e3e5b;
  padding-left: 8px;
}

.dropdown-check-list.visible .items {
  display: block;
}
