.BoxThongBao {
  position: absolute;
  width: 598px;
  height: 80px;
  top: 472px;
  left: 662px;
}
.ThongBao {
  text-align: left;
  margin-left: 18px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.002em;
  margin-bottom: 32px;
}
.textMotCot {
  display: flex;
  flex-direction: column;
}
.TextEmail {
  text-align: left;
  margin-left: 18px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.002em;
}
.BoxInput {
  width: 598px;
  height: 48px;
  padding: 11px 24px 13px 16px;
  display: flex;
}
.InputEmail {
  width: 598px;
  height: 48px;
  padding: 11px 24px 13px 16px;
  border-radius: 8px;
  border: 1px solid #727288;
  background-color: #2b2b3f;
  color: #ffffff;
}
.textError {
  color: #ff0000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  margin-left: 18px;
  letter-spacing: -0.002em;
  text-align: left;
}
.BoxBtnDangNhap {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: 744px;
  left: 856px;
  letter-spacing: -0.002em;
  text-align: center;
}
.ButtonDangNhap {
  background-color: #ff7506;
  width: 208px;
  height: 56px;
  padding: 16px 24px;
  border-radius: 8px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.002em;
  color: #ffffff;
}
