.textKhoiPhuc {
  height: 24px;
  top: 464px;
  left: 643px;
  position: absolute;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.002em;
  color: #ffffff;
}
.textKhoiPhuc2 {
  height: 24px;
  top: 492px;
  left: 643px;
  position: absolute;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.002em;
  color: #ffffff;
}
