.textLoiLink1 {
  width: 383px;
  height: 40px;
  top: 408px;
  left: 769px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.002em;
  text-align: center;
  color: #ff4747;
  position: absolute;
}
.textLoiLink2 {
  width: 625px;
  height: 24px;
  top: 464px;
  left: 643px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.002em;
  text-align: center;
  color: #ffffff;
  position: absolute;
}
.textLoiLink3 {
  width: 220px;
  height: 56px;
  top: 568px;
  left: 850px;
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #ff7506;
  gap: 8px;
  color: #ff7506;
  background-color: transparent;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.002em;
  text-align: center;
  position: absolute;
}
